<!DOCTYPE html>
<html lang="en">
<head>
        <title> Add Recommendation(s) </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>
<body>
        <a href = "../">Home</a>
        <br/>
        <center>
                <form method = "post">
                {{ form.hidden_tag() }} <br/>
                {{ form.http_link }} <br/>
                {{ form.tags }} <br/>
                {{ form.submit }}
                </form>
        </center>
</body>
