<!DOCTYPE>
<html lang="en">
<head>
        <title> Admin Panel </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>

<body>
    <div id = "header">
             <a id = "header3" href = "../../"><span id = "headerSubtitle">HOME</span></a>
    </div>
    <div id = "menu" style = "margin-bottom: 1cm"><a href = "../../post_search/0">Blog Feed</a> &nbsp&nbsp 
                <a href = "../../news_search/0">News Feed</a> &nbsp&nbsp
                <a href = "../../recommendations_websites">Recommendations Websites</a> 
                <span class = "right">
                  <a href = "../../signin">SignIn</a> &nbsp&nbsp
                  <a href = "../../signout">SignOut</a>
                  <a href = "../../new_user">Create Account</a>
                </span>
    </div> 
    <center>
           <table style = "margin-top: 5cm">
                   <tr>
                     <th>
                        <a><b>HOMEPAGE</b></a> 
                     </th>
                   </tr> 
                   <tr>
                     <th>
                       <a style = "margin-top: .5cm" href = "../edit">Edit Homepage</a> 
                     </th>
                   </tr> 
           </table>
           <br/>
           <br/>
           <table>
                   <tr>
                     <th>
                        <a><b>MODERATION</b></a> 
                     </th>
                   </tr> 
                   <tr>
                     <th>
                       <a style = "margin-top: .5cm" href = "../comment_filters">Edit comment filters</a> 
                     </th>
                   </tr>
                   <tr>
                     <th>
                       <a style = "margin-top: .5cm" href = "../edit_ip">Edit ip blacklist</a>
                     </th>
                   </tr>
                   <tr>
                     <th>
                       <a style = "margin-top: .5cm" href = "../see_user_ip">Get ip from any user</a> 
                     </th>
                   </tr>
                   <tr>
                     <th>
                        <a style = "margin-top: .5cm" href = "../banning_usernames">Add banned usernames</a> 
                     </th>
                   </tr>
          </table>
          <br/>
          <br/>
          <table>
                   <tr>
                     <th>
                        <a><b>SUPER USERS</b></a> 
                     </th>
                   </tr> 
                   <tr>
                     <th>
                       <a href = "../add_spe">Grant privileges on certain users</a> 
                     </th>
                   </tr>
                   <tr>
                     <th>
                       <a href = "../rm_add_spe">Revoke privileges for certain users</a> 
                    </th>
                   </tr>
                   <tr>
                     <th>
                       <a href = "../see_privileges">See users privileges</a> 
                     </th>
                   </tr>
          </table>
          <br/>
          <br/>
          <table>
                   <tr>
                     <th>
                        <a><b>MEMORY AND FILES</b></a> 
                     </th>
                   </tr> 
                   <tr>
                     <th>
                       <a href = "../see_all_files">See all uploaded files</a>
                     </th>
                   </tr>
           </table>
    </center>
</body>


