<!DOCTYPE>
<html lang="en">
<head>
        <title> Post </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>

<body>
        <div id = "header">
             <a id = "header3" href = "../../"><span id = "headerSubtitle">HOME</span></a>
        </div>
        <div id = "menu" style = "margin-bottom: 1cm"><a href = "../../post_search/0">Blog Feed</a> &nbsp&nbsp 
            <a href = "../../news_search/0">News Feed</a> &nbsp&nbsp
            <a href = "../../recommendations_websites">Recommendations Websites</a> 
            <span class = "right">
              <a href = "../../signin">SignIn</a> &nbsp&nbsp
              <a href = "../../signout">SignOut</a>
              <a href = "../../new_user">Create Account</a>
            </span>
        </div> 
        <br/>
        <center>
          <p> You are about to load all blacklisted ip addresses </p>
          <p> You can always copy your csvs of blacklisted ip addresses in the location of your flask_blog on your server directly </p>
          <a href = "../static/csvs/filters_com.csv" download>blacklist.csv</a> <br/> <br/>
          <form method = "post" enctype = "multipart/form-data">
                  <input type = "file" name = "file"> <br/>
                  <input type = "submit" value = "Upload blacklist.csv">
          </form> <br/>
          <a href = "../edit_ip_sure">Manually edit</a>
        </center>
        </div>
        <br/>
</body>

