<!DOCTYPE>
<html lang="en">
<head>
        <title> Comments Filters </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>
<body>
        <a href = "../../admin_panel">Previous</a>
        <br/>
        <center>
        <form method = "post">
                <textarea rows = 45 cols = 65 name = "content">{{ content }}</textarea>
                <div> <input type = "submit" value = "Update"> </div>
        </form>
        </center>
</body>
