<!DOCTYPE html>
<html lang="en">
<head>
        <title> Index </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>

<body>
            <div id = "header">
             <a id = "header3" href = "../../"><span id = "headerSubtitle">HOME</span></a>
             {% if user_co %}
               &nbsp&nbsp
               <span id = "header2">
                 <a><u>Welcome<b> {{ user_co }}</b></u></a>
               </span>
             {% endif %}
            </div>
            <div id = "menu" style = "margin-bottom: 1cm"><a href = "post_search/0">Blog Feed</a> &nbsp&nbsp 
            <a href = "news_search/0">News Feed</a> &nbsp&nbsp
            <a href = "recommendations_websites">Recommendations Websites</a> 
            <span class = "right">
              <a href = "signin">SignIn</a> &nbsp&nbsp
              <a href = "signout">SignOut</a>
              <a href = "new_user">Create Account</a>
            </span>
            </div> 
            <div id = "nav">               
              <ul>
                {% if auth_post %}
                <li> 
                  <a href = "new_post">+ Post</a> 
                </li>
                {% endif %}
                {% if auth_news %}
                <li> 
                  <a href = "new_news_post">+ News</a> 
                </li>
                {% endif %}
                {% if auth_recom %}
                <li> 
                    <a href = "add_recom">+ Recom</a> 
                </li>
                {% endif %}
                {% if auth_ip %}
                <li> 
                    <a href = "see_user_ip">Get user ip (and block)</a>
                </li>
                {% endif %}
                {% if auth %}
                <li> <a href = "new_post">+ Post</a> </li>
                <li> <a href = "new_news_post">+ News</a> </li>
                <li> <a href = "add_recom">+ Recom</a> </li>
                <li> <a href = "admin_panel">Admin Panel</a> </li>
                {% endif %}
                {% if user_co %}
                <li>
                <a href = "edit_password/{{ user_co }}">Edit Password</a>
                </li>
                {% endif %}
                {% if auth %}
                <form method="post" action="" id = "to-dump">
                        <p id = "nav_form">
                        <input style = "margin-left:3px;" type = "submit" value = "Download Database" name="cur_form">
                        </p>
                </form>
                {% endif %}
              </ul>
            </div>
            <center>
            <div style = "margin-top: .5cm"> <a id = "hmn"> {{ recommends }} </a> recommendations </div>
            {% if show_result %}
                <form method = "post" action="" id = "todo-form">
                        <div id = "button"> <input type = "submit" value = "Submit" name="{{ cur_recom }}"> </div>
                </form>
            {% endif %}
            <div style = "margin-top: .5cm; margin-bottom: .5cm"> {{description|safe}} </div>
            <br/>
            <br/>
            </center>
</body>
