<!DOCTYPE>
<html lang="en">
<head>
        <title> New Post </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>

<body>
        <div id = "header">
             <a id = "header3" href = "../../"><span id = "headerSubtitle">HOME</span></a>
        </div>
        <div id = "menu" style = "margin-bottom: 1cm"><a href = "../../post_search/0">Blog</a> &nbsp&nbsp 
                <a href = "../../news_search/0">News</a> &nbsp&nbsp
                <a href = "../../recommendations_websites">Recommendations</a> 
                <span class = "right">
                  <a href = "../../signin">SignIn</a> &nbsp&nbsp
                  <a href = "../../signout">SignOut</a>
                  <a href = "../../new_user">Create Account</a>
                </span>
        </div> 
        <br/>
        <center>
                <form method = "post" enctype = "multipart/form-data">
                        {{ form.hidden_tag() }}
                        {{ form.title }} <br/>
                        {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                        {{ error }}
                                {% endfor %}
                        {% endif %}
                        <div style = "margin-top: .5cm;">{{ form.tags }}</div> 
                        <div style = "margin-top: .5cm;">{{ form.n_post_content }}</div> <br/>
                        <input type = "file" name = "files" multiple> 
                        <br/>
                        {{ form.submit }}
                </form>
        </center>
</body>
