<!DOCTYPE>
<html lang="en">
<head>
        <title> News Feed </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>

<body>
       <div id = "header">
             <a id = "header3" href = "../../"><span id = "headerSubtitle">HOME</span></a>
        </div>
        <div id = "menu" style = "margin-bottom: 1cm"><a href = "../../post_search/0">Blog</a> &nbsp&nbsp 
                <a href = "../../news_search/0">News</a> &nbsp&nbsp
                <a href = "../../recommendations_websites">Recommendations</a> 
                <span class = "right">
                  <a href = "../../signin">SignIn</a> &nbsp&nbsp
                  <a href = "../../signout">SignOut</a>
                  <a href = "../../new_user">Create Account</a>
                </span>
        </div> 
        <br/>
        <center>
                News Feed <br/>
                <table>
                        <tr>
                                <th>Title</th>
                                <th>Server Date Time</th>
                        </tr>
                        {% for i in range(0, news|length) %}
                                <tr>
                                        <td><center><a href = "../all_news/{{ news_link[i] }}">{{news[i][0]}}</a></center></td>
                                        <td><center> <a id = "{{i}}" href = "../all_news/{{ news_link[i] }}">{{news[i][1]}}</a></center></td>
                                </tr>
                        {% endfor %}
                </table>
        </center>
        <br/>
        <center>
        <a href= "{{ page + 1 }}">Next</a>
        {% if page %}
        <a href= "{{ page - 1 }}">Previous</a>
        {% endif %}
        </center>
</body>
