<!DOCTYPE>
<html lang="en">
<head>
        <title> Blog </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>

<body>
    <div id = "header">
             <a id = "header3" href = "../../"><span id = "headerSubtitle">HOME</span></a>
    </div>
    <div id = "menu" style = "margin-bottom: 1cm"><a href = "../../post_search/0">Posts</a> &nbsp&nbsp 
            <a href = "../../news_search/0">News</a> &nbsp&nbsp
            <a href = "../../recommendations_websites">Recommendations</a> 
            <span class = "right">
              <a href = "../../signin">SignIn</a> &nbsp&nbsp
              <a href = "../../signout">SignOut</a>
              <a href = "../../new_user">Create Account</a>
            </span>
    </div> 
    <br/>
    <center>
            <b>Search a Post</b> <br/>
            <form method = "post" style="background-color:#252627;">
                    {{ form.hidden_tag() }}
                    {{ form.content }}
                    {{ form.submit }}
            </form>
            <br/>
    <table>
            <tr>
                <th>Title</th>
                <th>Server Date Time</th>
            </tr>
            {% for i in range(0, posts|length) %}
                <tr>
                        <td> <center> <a href = "../all_posts/{{ title_link[i] }}+1">{{ posts[i][0] }}</a> </center> </td>
                        <td> <center> {{ posts[i][1] }} </center> </td>
                </tr>
            {% endfor %}
    </table>
    <br/>
    <div>
    {% if page %}
    <a href = "{{ page - 1 }}">Previous</a><br/>
    {% endif %}
    <a href = "{{ page + 1 }}">Next</a> <br/>
    {% if auth %}
        {% if com_status %}
        <form method = "post">
                <input name = "{{ id_forbid_com }}" type = "submit" value = "Forbid comments">
        </form>
        {% else %}
        <form method = "post">
                <input name = "{{ id_allow_com }}" type = "submit" value = "Allow comments">
        </form>
        {% endif %}
    {% endif %}
    </div>
    </center>
</body>
