<!DOCTYPE html>
<html lang="en">
<head>
        <title> Post </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>

<body>
        <div id = "header">
             <a id = "header3" href = "../../"><span id = "headerSubtitle">HOME</span></a>
        </div>
        <div id = "menu" style = "margin-bottom: 1cm"><a href = "../../post_search/0">Posts</a> &nbsp&nbsp 
            <a href = "../../news_search/0">News</a> &nbsp&nbsp
            <a href = "../../recommendations_websites">Recommendations</a> 
            <span class = "right">
              <a href = "../../signin">SignIn</a> &nbsp&nbsp
              <a href = "../../signout">SignOut</a>
              <a href = "../../new_user">Create Account</a>
            </span>
        </div> 
        <br/>
        <div style="margin-left:45px;">
                {{ datetime }} <br/>
                {% if modified_post %}
                <p>(modified)</p> <br/>
                {% endif %}
                <b>{{ title }}</b> <br/>
                {{ content|safe }} <br/>
                {% if auth %}
                <a> <i>Files inputed in this post are</i> {{ files_names }} </a>
                {% endif %}
                <br/>
                <a href = "../comment_page_post/{{ post_title }}+0+N">Comment</a>
        </div>
        <br/>
        <div style = "margin-left: 2cm;">
        {% if auth_post %}
                <a href = "../post_edit/{{ post_title }}">Edit post</a> <br/>
                {% if com_status %}
                <form method = "post" style = "margin: 0;">
                        <input name = "{{ id_forbid_com }}" type = "submit" value = "Forbid comments">
                </form>
                {% else %}
                <form method = "post" style = "margin: 0;">
                        <input name = "{{ id_allow_com }}" type = "submit" value = "Allow comments">
                </form>
                {% endif %}
                <form method = "post">
               {{ form.hidden_tag() }} <br/>
               {{ form.submit }} <br/>
                </form>
        {% endif %}
        {% if auth %}
                <a href = "../post_edit/{{ post_title }}">Edit post</a> <br/>
                {% if com_status %}
                <form method = "post" style = "margin: 0;">
                        <input name = "{{ id_forbid_com }}" type = "submit" value = "Forbid comments">
                </form>
                {% else %}
                <form method = "post" style = "margin: 0;">
                        <input name = "{{ id_allow_com }}" type = "submit" value = "Allow comments">
                </form>
                {% endif %}
                <form method = "post">
               {{ form.hidden_tag() }}
               {{ form.submit }} <br/>
                </form>
        {% endif %}
        <hr/>
        {% if com_status %}
          {% if comments %}
              {% for i in comments %}
                      {% if i[2] != 0 %}
                          <a style = "margin-left:1cm; margin-top:.5cm;"><i style = "font-size: 14px;">{{ i[4] }} - {{ i[1] }}  {% if i[6] %} (modified) {% endif %} </i></a>
                          <div style = "margin-left:1cm;">{{ i[0]|comment }}</div>
                          {% if user_name == i[4] %}
                              <a style = "margin-left:1cm; font-size: 14px;" href = "../../edit_com/{{ i[5] }}+{{ post_title }}">Edit</a>
                              <a style = "font-size: 14px;" href="../delete_com/{{ i[5] }}+{{ post_title }}+{{ i[3] }} + {{ i[2] }}">Delete</a> <br/> 
                          {% elif auth or auth_rm_com %}
                                <a style = "font-size: 14px; margin-left: 1cm;" href="../delete_com/{{ i[5] }}+{{ post_title }}+{{ i[3] }} + {{ i[2] }}">Delete</a> <br/>
                          {% else %}
                            <br/>
                          {% endif %}
                      {% else %}
                          <a style = "margin-top:.5cm;"><i style = "font-size: 14px;">{{ i[4] }} - {{ i[1] }}  {% if i[6] %} (modified) {% endif %} </i></a>
                          <div>{{ i[0]|comment }}</div>
                          <span> <a style = "font-size: 14px;" href = "../comment_page_post/{{ post_title }}+1+{{ i[3] }}">Respond</a> </span>
                          {% if user_name == i[4] %}
                                <a style = "font-size: 14px;" href = "../../edit_com/{{ i[5] }}+{{ post_title }}">Edit</a> 
                                <a style = "font-size: 14px;" href="../delete_com/{{ i[5] }}+{{ post_title }}+{{ i[3] }}+{{ i[2] }}">Delete</a> <br/>
                          {% elif auth or auth_rm_com %}
                                <a style = "font-size: 14px;" href="../delete_com/{{ i[5] }}+{{ post_title }}+{{ i[3] }}+{{ i[2] }}">Delete</a> <br/> 
                          {% else %}
                              <br/>
                          {% endif %}
                      {% endif %}
                      <br/>
              {% endfor %}
          {% else %}
          <p>Not that much comments</p>
          {% endif %}
        {% endif %}
        <br/>
        <br/>
        <center>
        <a href = "{{ post_title }}+{{ cur_page + 1}}">Next</a>
        <br/>
        {% if cur_page > 1 %}
                <a href = "{{ post_title }}+{{ cur_page - 1}}">Before</a>
        {% endif %}
        </center>
        </div>
        <br/>
</body>


