<!DOCTYPE>
<html lang="en">
<head>
        <title> Delete Recom </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>
<body>
        <div id = "header">
             <a id = "header3" href = "../../"><span id = "headerSubtitle">HOME</span></a>
        </div>
        <div id = "menu" style = "margin-bottom: 1cm"><a href = "../../post_search/0">Blog</a> &nbsp&nbsp 
            <a href = "../../news_search/0">News</a> &nbsp&nbsp
            <a href = "../../recommendations_websites">Recommendations</a> 
            <span class = "right">
              <a href = "../../signin">SignIn</a> &nbsp&nbsp
              <a href = "../../signout">SignOut</a>
              <a href = "../../new_user">Create Account</a>
            </span>
        </div> 
        <br/>
        <center>
        <form method = "POST">
                <textarea name = "http_link">{{ http_link }}</textarea>
                <br/>
                <textarea name = "tags">{{ tags }}</textarea>
                <br/>
                <input type = "submit" value = "Submit" name = "{{ recom_value }}">
        </form>
        </center>
</body>
