<!DOCTYPE html>
<html lang="en">
<head>
        <title> Recommendations </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>
<body>
        <a href = "../">Home</a>
        <br/>
        <center>
                <form method = "post">
                {{ form.hidden_tag() }}
                {{ form.content }}
                {{ form.submit }}
                </form>
        <br/>
        <br/>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            {% for recom in recoms %}
            <tr>
                    <td><a href = "{{ recom[0] }}">{{ recom[0] }}</a></td>
                    <td> {{ recom[1] }} </td>
            </tr>
            {% endfor %}
        </table>
        </center>
</body>
