<!DOCTYPE>
<html lang="en">
<head>
        <title> Index </title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="Larget-Piet Julien Blog, Dev, Data"/>
        <link rel="icon" href = "{{url_for('static', filename = 'ico/ico.png')}}"/>
</head>
<body>
        <div id = "header">
             <a id = "header3" href = "../../"><span id = "headerSubtitle">HOME</span></a>
        </div>
        <div id = "menu" style = "margin-bottom: 1cm"><a href = "../../post_search/0">Blog Feed</a> &nbsp&nbsp 
            <a href = "../../news_search/0">News Feed</a> &nbsp&nbsp
            <a href = "../../recommendations_websites">Recommendations Websites</a> 
            <span class = "right">
              <a href = "../../signin">SignIn</a> &nbsp&nbsp
              <a href = "../../signout">SignOut</a>
              <a href = "../../new_user">Create Account</a>
            </span>
        </div> 
        <center>
                <form method = "post">
                        {{ form.hidden_tag() }} 
                        {{ form.username }} <br/>
                        {{ form.submit }}
                </form>
                <table>
                        <tr>
                                <th>Username</th>
                                <th>Allow to post in blog feed</th>
                                <th>Allow to post in news feed</th>
                                <th>Allow to remove comments</th>
                                <th>Allow to ban ip user</th>
                                <th>Allow to add recommendations</th>
                        </tr>
                        {% for rslt in result %}
                        <tr>
                                <td>{{rslt[5]}}</td>
                                <td>{{rslt[0]}}</td>
                                <td>{{rslt[1]}}</td>
                                <td>{{rslt[2]}}</td>
                                <td>{{rslt[3]}}</td>
                                <td>{{rslt[4]}}</td>
                        </tr>
                        {% endfor %}
                </table>
        </center>
</body>


